<h2 mat-dialog-title>{{ "producto.titulos.ver_detalle" | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-list role="list" *ngIf="producto">
    <mat-list-item role="listitem">
      {{ "producto.labels.id" | translate }}: {{ producto.id }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "producto.labels.referencia" | translate }}:
      {{ producto.referencia }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "producto.labels.nombre" | translate }}:
      {{ producto.nombre }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "producto.labels.descripcion" | translate }}:
      {{ producto.descripcion }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "producto.labels.precioUnitario" | translate }}:
      {{ producto.precioUnitario }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "producto.labels.unidadesDisponibles" | translate }}:
      {{ producto.unidadesDisponibles }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "producto.labels.categoria" | translate }}:
      {{ producto.nombreCategoria }}</mat-list-item
    >
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    {{ "producto.botones.cerrar" | translate }}
  </button>
</mat-dialog-actions>
