<h2 mat-dialog-title *ngIf="!idProductoEditar">
  {{ "producto.titulos.crear_producto" | translate }}
</h2>
<h2 mat-dialog-title *ngIf="idProductoEditar">
  {{ "producto.titulos.editar_producto" | translate }}
</h2>

<form [formGroup]="productoForm" *ngIf="isReadyForm | async as isForm">
  <mat-dialog-content class="mat-typography">
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile appearance="fill">
        <mat-form-field style="width: 100%; margin: 0 0.5rem">
          <mat-label>{{ "producto.labels.referencia" | translate }}</mat-label>
          <input
            matInput
            formControlName="referencia"
            type="text"
            maxlength="10"
            [placeholder]="'producto.placeholders.referencia' | translate"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile appearance="fill">
        <mat-form-field style="width: 100%; margin: 0 0.5rem">
          <mat-label>{{ "producto.labels.nombre" | translate }}</mat-label>
          <input
            matInput
            formControlName="nombre"
            type="text"
            maxlength="10"
            [placeholder]="'producto.placeholders.nombre' | translate"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile appearance="fill">
        <mat-form-field style="width: 100%; margin: 0 0.5rem">
          <mat-label>{{ "producto.labels.descripcion" | translate }}</mat-label>
          <input
            matInput
            formControlName="descripcion"
            type="text"
            maxlength="10"
            [placeholder]="'producto.placeholders.descripcion' | translate"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile appearance="fill">
        <mat-form-field style="width: 100%; margin: 0 0.5rem">
          <mat-label>{{
            "producto.labels.precioUnitario" | translate
          }}</mat-label>
          <input
            matInput
            formControlName="precioUnitario"
            type="number"
            maxlength="10"
            [placeholder]="'producto.placeholders.precioUnitario' | translate"
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile appearance="fill">
        <mat-form-field style="width: 100%; margin: 0 0.5rem">
          <mat-label>{{
            "producto.labels.unidadesDisponibles" | translate
          }}</mat-label>
          <input
            matInput
            formControlName="unidadesDisponibles"
            type="number"
            maxlength="10"
            [placeholder]="
              'producto.placeholders.unidadesDisponibles' | translate
            "
          />
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile appearance="fill">
        <mat-form-field style="width: 100%; margin: 0 0.5rem">
          <mat-label>{{ "producto.labels.categoria" | translate }}</mat-label>
          <mat-select
            formControlName="categoria"
            [placeholder]="'producto.placeholders.categoria' | translate"
          >
            <mat-option
              *ngFor="let categoria of categorias"
              [value]="categoria.id"
            >
              {{ categoria.nombre }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>
      {{ "producto.botones.cancelar" | translate }}
    </button>

    <button
      *ngIf="!idProductoEditar"
      mat-raised-button
      color="primary"
      (click)="guardar()"
      cdkFocusInitial
    >
      {{ "producto.botones.agregar" | translate }}
    </button>

    <button
      *ngIf="idProductoEditar"
      mat-raised-button
      color="primary"
      (click)="editar()"
      cdkFocusInitial
    >
      {{ "producto.botones.editar" | translate }}
    </button>
  </mat-dialog-actions>
</form>
