<h2 mat-dialog-title>{{ "pedido.titulos.ver_detalle" | translate }}</h2>
<mat-dialog-content class="mat-typography">
  <mat-list role="list" *ngIf="pedido">
    <mat-list-item role="listitem">
      {{ "pedido.labels.id" | translate }}: {{ pedido.id }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "pedido.labels.referencia" | translate }}:
      {{ pedido.fecha }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "pedido.labels.nombre" | translate }}:
      {{ pedido.total }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "pedido.labels.cliente" | translate }}: {{ pedido.nombresCliente }}
      {{ pedido.apellidosCliente }}</mat-list-item
    >
    <mat-list-item role="listitem"
      >{{ "pedido.labels.estadoPedido" | translate }}:
      {{ pedido.descripcionEstadoPedido }}</mat-list-item
    >
  </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>
    {{ "pedido.botones.cerrar" | translate }}
  </button>
</mat-dialog-actions>
